<div class="bg-gray-200 overflow-x-hidden flex flex-col min-h-screen">
  <nav class="bg-white px-6 py-4 shadow">
      <div class="flex flex-col container mx-auto md:flex-row md:items-center md:justify-between">
            <div class="flex justify-between items-center">
                 <div>
                    <a href="#" class="text-gray-800 text-xl font-bold md:text-2xl">NQI Thailand Search</a>
                </div>
            </div>
            <div>
                <img class="" src="assets/MHESI-logo-02-small.png" alt="mhesi-logo"/>
            </div>
      </div>
  </nav>

<main class="flex-grow">

    <router-outlet></router-outlet>

</main>
  <footer class="px-6 py-2 bg-gray-800 text-gray-100">
    <div class="container flex items-center mx-auto">
        

    </div>
      <div class="flex flex-col justify-between items-center container mx-auto md:flex-row">
          <a href="#" class="text-2xl font-bold">NQI.go.th/OneSearch</a>
          
          <div class="flex -mx-2 mt-4 mb-2 md:mt-0 md:mb-0">
              

            <a href="http://www.dss.go.th">
                <img class="w-10 h-10 inline-block mx-2" src="assets/org-logo/c-dss.png"/>
            </a>
            <a href="http://www.oaep.go.th">
                <img class="w-10 h-10 inline-block mx-2" src="assets/org-logo/c-oaep.png"/>
            </a>
            <a href="http://www.tistr.or.th">
                <img class="w-10 h-10 inline-block mx-2" src="assets/org-logo/c-tistr.png"/>
            </a>
            <a href="http://www.nstda.or.th">
                <img class="w-10 h-10 inline-block mx-2" src="assets/org-logo/c-nstda.png"/>
            </a>
            <a href="http://www.nimt.or.th">
                <img class="w-10 h-10 inline-block mx-2" src="assets/org-logo/c-nimt.png"/>
            </a>
            <a href="http://www.tcels.or.th">
                <img class="w-10 h-10 inline-block mx-2" src="assets/org-logo/c-tcels.png"/>
            </a>
            <a href="http://www.tinit.or.th">
                <img class="w-10 h-10 inline-block mx-2" src="assets/org-logo/c-tint.png"/>
            </a>
          </div>
      </div>
  </footer>
</div>